# Python

**pycache**/
*.py[cod]
*$py.class

# Virtual Environments

venv/
.venv/
env/
ENV/

# VS Code

.vscode/

# OS Files

.DS_Store
Thumbs.db

# Logs

*.log

# Pytest

.pytest_cache/

# Coverage

.coverage
htmlcov/

# Jupyter Notebook

.ipynb_checkpoints/

# Misc

*.tmp
*.swp
